body {
  overflow: hidden;
}

.slid-enter {
  opacity: 0;
  transform: translateY(10px);
}
.slid-enter-active {
  opacity: 1;
  transform: translateY(0px);
}
.slid-exit {
  opacity: 1;
  transform: translateY(0px);
}
.slid-exit-active {
  opacity: 0;
  transform: translateY(10px);
}
.slid-enter-active,
.slid-exit-active {
  transition: all 200ms;
}
